<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.ssedampet_back.mapper.HealthLogMapper">

    <select id="findByPetIdAndDate" resultType="com.korit.ssedampet_back.dto.response.HealthLogRespDto">
        select
            healthlog_Id,
            pet_id,
            write_date,
            water_status,
            food_status,
            poop_cnt,
            symptom,
            healthlog_memo,
            created_dt,
            updated_dt
        from
            healthlog_tb
        WHERE
            pet_id = #{petId}
            AND write_date = #{date}
        LIMIT 1
    </select>
</mapper>