<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.ssedampet_back.mapper.MainMapper">

    <resultMap id="PetResultMap" type="com.korit.ssedampet_back.dto.response.mypage.PetDto">
        <id property="petId" column="pet_id" />
        <result property="petName" column="pet_name" />
        <result property="petGender" column="pet_gender" />
        <result property="petProfileImgUrl" column="pet_profile_img_url" />
        <result property="petBirth" column="pet_birth" />
        <result property="petAge" column="pet_age" />
    </resultMap>

    <select id="getMyPets" resultType="com.korit.ssedampet_back.dto.response.mypage.PetDto">
        select
            pet_id as petId,
            pet_name as petName,
            pet_gender as petGender,
            pet_breed as petBreed,
            pet_type as petType,
            pet_profile_img_url as petProfileImgUrl,
            pet_birth as petBirth,
            timestampdiff(year, pet_birth, curdate()) as pet_age
        from
            pet_tb
        where
            user_id = #{userId}
    </select>
    <select id="getTodayHealthLog" resultType="com.korit.ssedampet_back.dto.response.main.HealthLogSummaryDto">
        select
            h.healthlog_id,
            h.water_status,
            h.food_status,
            h.poop_cnt
        from
            healthlog_tb h
            join pet_tb p on h.pet_id = p.pet_id  where
            p.user_id = #{userId}               and DATE(h.created_dt) = curdate()
        order by
            h.created_dt DESC
        limit 1
    </select>

    <select id="getPopularPosts" resultType="com.korit.ssedampet_back.dto.response.main.PostPreviewDto">
        select
            p.post_id,
            p.user_id,
            u.name,
            p.post_img_url,
            p.post_like_cnt,
            p.created_dt
        from
            post_tb p
            left join user_tb u on p.user_id = u.user_id
        order by
            p.post_like_cnt DESC
        limit
            4
    </select>
</mapper>