<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.ssedampet_back.mapper.MypageMapper">

    <!-- 1) 마이페이지 유저 정보 -->
    <select id="findMypageUser" resultType="com.korit.ssedampet_back.dto.response.mypage.UserDto">
        SELECT
        user_id AS userId,
        username AS username,
        email AS email,
        user_profile_img_url AS userProfileImgUrl
        FROM user_tb
        WHERE user_id = #{userId}
    </select>

    <!-- 2) 전체 유저 목록 -->
    <select id="findAllUsers" resultType="com.korit.ssedampet_back.dto.response.mypage.UserDto">
        SELECT
        user_id AS userId,
        username AS username,
        email AS email,
        user_profile_img_url AS userProfileImgUrl
        FROM user_tb
        ORDER BY user_id DESC
    </select>

    <!-- 3) 내가 작성한 게시글 수 -->
    <select id="countMyPosts" resultType="int">
        SELECT COUNT(*)
        FROM post_tb p
        WHERE p.user_id = #{userId}
    </select>

    <!-- 4) 내가 좋아요 누른 게시글 수 -->
    <select id="countMyLikedPosts" resultType="int">
        SELECT COUNT(*)
        FROM like_tb l
        WHERE l.user_id = #{userId}
    </select>

    <!-- 5) 내 반려동물 목록 -->
    <select id="findMyPets" resultType="com.korit.ssedampet_back.dto.response.mypage.PetDto">
        SELECT
            p.pet_id AS petId,
            p.pet_name AS petName,
            p.pet_gender AS petGender,
            p.pet_profile_img_url AS petProfileImgUrl
        FROM pet_tb p
        WHERE p.user_id = #{userId}
        ORDER BY p.pet_id DESC
    </select>

    <!-- 6) 내 게시물 목록-->
    <select id="findMyPosts"
            resultType="com.korit.ssedampet_back.dto.response.mypage.PostDto">
        SELECT
            post_id AS postId,
            user_id AS userId,
            post_img_url AS postImgUrl,
            post_content AS postContent,
            post_like_cnt AS postLikeCnt,
            post_comment_cnt AS postCommentCnt,
            DATE_FORMAT(created_dt, '%Y-%m-%d %H:%i:%s') AS createdDt
        FROM post_tb
        WHERE user_id = #{userId}
        ORDER BY post_id DESC
            LIMIT 20
    </select>







    


</mapper>
