<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.ssedampet_back.mapper.PetMapper">
    <insert id="insertPet" parameterType="com.korit.ssedampet_back.dto.request.CreatePetReqDto" useGeneratedKeys="true" keyProperty="petId">
        insert into pet_tb (
            user_id,
            pet_type,
            pet_name,
            pet_breed,
            pet_birth,
            pet_gender,
            pet_weight,
            pet_profile_img_url,
            created_dt,
            updated_dt
        ) values (
            #{userId},
            #{petType},
            #{petName},
            #{petBreed},
            #{petBirth},
            #{petGender},
            #{petWeight},
            #{petProfileImgUrl},
            NOW(),
            NOW()
        )
    </insert>
</mapper>