<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.ssedampet_back.mapper.PostMapper">

    <select id="getPostList" resultType="com.korit.ssedampet_back.dto.response.post.PostResponseDto">
        SELECT
            p.post_id,
            p.user_id,
            p.post_img_url,
            p.post_content,
            p.post_like_cnt,
            p.post_comment_cnt,
            p.post_location_tag,
            p.created_dt,
            p.updated_dt,
            u.display_nickname AS displayUsername,
            u.user_profile_img_url AS userProfileImgUrl
        FROM post_tb p
        LEFT JOIN user_tb u ON p.user_id = u.user_id
        ORDER BY
        <choose>
            <when test="sortBy == 'popular'">
                p.post_like_cnt DESC
            </when>
            <otherwise>
                p.created_dt DESC
            </otherwise>
        </choose>
    </select>

    <select id="getPostById" resultType="map">
        SELECT
            p.post_id AS postId,
            p.user_id AS userId,
            p.post_content AS postContent,
            p.post_img_url AS postImgUrl,
            p.post_like_cnt AS postLikeCnt,
            p.created_dt AS createdDt,
            u.display_nickname AS displayUsername
        FROM post_tb p
        LEFT JOIN user_tb u ON p.user_id = u.user_id
        WHERE p.post_id = #{postId}
    </select>

    <insert id="savePost">
        INSERT INTO post_tb (
            user_id,
            post_img_url,
            post_content,
            post_like_cnt,
            post_comment_cnt,
            created_dt
        ) VALUES (
            #{userId},
            #{imageUrl},
            #{content},
            0,
            0,
            NOW()
        )
    </insert>


    <update id="updateLikeCount">
        UPDATE post_tb
        SET post_like_cnt = post_like_cnt + #{amount}
        WHERE post_id = #{postId}
    </update>

</mapper>