<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.ssedampet_back.mapper.UserMapper">
    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId" parameterType="com.korit.ssedampet_back.entity.User">
        insert into user_tb (
            username,
            email,
            display_nickname,
            user_profile_img_url,
            last_login_dt,
            created_dt,
            updated_dt
        )
        values (
            #{username},
            #{email},
            #{displayNickname},
            #{userProfileImgUrl},
            NOW(),
            NOW(),
            NOW()
        )
    </insert>

    <select id="findByUserId" resultType="com.korit.ssedampet_back.entity.User">
        select
            user_id as userId,
            username,
            email,
            user_birth as userBirth,
            phone,
            display_nickname as displayNickname,
            user_profile_img_url as userProfileImgUrl,
            last_login_dt as lastLoginDt,
            created_dt as createdDt,
            updated_dt as updatedDt
        from
            user_tb
        where
            user_id = #{userId}
    </select>

<!--    회원 추가정보 입력-->
    <insert id="addUserInfo">
        update
            user_tb
        set
            display_nickname = #{displayNickname},
            user_birth = #{userBirth},
            phone = #{phone},
            user_profile_img_url = #{userProfileImgUrl},
            updated_dt = NOW()
        where
            user_id = #{userId}
    </insert>

    <update id="updateLastLoginDt">
        update
            user_tb
        set
            last_login_dt = NOW(),
            updated_dt = NOW()
        where
            user_id = #{userId}
    </update>

</mapper>