<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.ssedampet_back.mapper.UserMapper">
    <insert id="addUser" parameterType="com.korit.ssedampet_back.entity.User">
        insert into user_tb (
            username,
            email,
            user_birth,
            phone,
            display_nickname,
            user_profile_img_url,
            created_dt
        )
        values (
            #{username},
            #{email},
            #{userBirth},
            #{phone},
            #{displayNickname},
            #{userProfileImgUrl},
            NOW()
        )
    </insert>
    <select id="createNickname" resultType="java.lang.String">
        select
            concat(
                (select
                word as adjective_word
        from
            nickname_words_tb
        where
            word_type = 'adjective'
        order by
            rand()
        limit 0, 1),
        (select
        word as noun_word
        from
            nickname_words_tb
        where
            word_type = 'noun'
        order by
            rand()
        limit 0, 1)) as nickname;
    </select>
    <select id="existsByProviderAndProviderId" resultType="int">
        select
            COUNT(*)
        from
            oauth2_user_tb
        where
            provider = #{provider}
            and
            provider_id = #{providerId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into
            user_tb
        values (
            #{username},
            #{email},
            #{phone},
            #{userBirth},
            #{displayNickname},
            #{userProfileImgUrl},
            now(),
            now(),
            now())
    </insert>
    <select id="findByUserId" resultType="User">
        select
            userId,
            username,
            email,
            userBirth,
            phone,
            displayNickname,
            userProfileImgUrl,
            lastLoginDt,
            createdDt,
            updatedDt
        from
            user_tb
        where
            user_id = #{userId}
    </select>
    <select id="findByOauth2Id" resultType="User">
        select
            userId,
            username,
            email,
            userBirth,
            phone,
            displayNickname,
            userProfileImgUrl,
            lastLoginDt,
            createdDt,
            updatedDt,
        from
            user_tb
        where
            oauth2_Id = #{oauth2Id}
    </select>
    <select id="findByNickname" resultType="User">
        select
            userId,
            username,
            email,
            userBirth,
            phone,
            displayNickname,
            userProfileImgUrl,
            lastLoginDt,
            createdDt,
            updatedDt,
        from
            user_tb
        where
            nickname = #{nickname}
    </select>
    <insert id="savePet" parameterType="Pet">
        insert into
            pet_tb (
            user_id,
            post_id,
            pet_type,
            pet_name,
            pet_birth,
            pet_gender,
            pet_breed,
            pet_weight,
            pet_profile_img_url,
            created_dt,
            updated_dt
            )
        values (
            #{userid},
            #{postId},
            #{petType},
            #{petName},
            #{petBirth},
            #{petGender},
            #{petBreed},
            #{petWeight},
            #{petProfileImgUrl},
            now(),
            now()
        )
    </insert>
</mapper>