name: GCP-vm-CICD

on: 
  push: 
    branches: [deploy-jiny, deploy-yunyeol, deploy-hyojeong, deploy-hyunwoo]
  pull_request:
    branches: [deploy-jiny, deploy-yunyeol, deploy-hyojeong, deploy-hyunwoo]

jobs:
  build-deploy-jiny:
    runs-on: ubuntu-22.04
    steps:
      - name : "환경변수 세팅"
        run: |
          if [ "${{ github.ref }}" == "refs/heads/deploy-jiny" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_vm_HOST_JINY }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_vm_USERNAME_JINY }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_JINY }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_JINY }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_JINY }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_JINY }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_JINY }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/deploy-yunyeol" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_vm_HOST_YUNYEOL }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_vm_USERNAME_YUNYEOL }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_YUNYEOL }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_YUNYEOL }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_YUNYEOL }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_YUNYEOL }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_YUNYEOL }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/deploy-hyojeong" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_vm_HOST_HYOJEONG }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_vm_USERNAME_HYOJEONG }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_HYOJEONG }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_HYOJEONG }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_HYOJEONG }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_HYOJEONG }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_HYOJEONG }}" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/deploy-hyunwoo" ]; then
            echo "GCP_VM_HOST=${{ secrets.GCP_vm_HOST_HYUNWOO }}" >> $GITHUB_ENV
            echo "GCP_VM_USERNAME=${{ secrets.GCP_vm_USERNAME_HYUNWOO }}" >> $GITHUB_ENV
            echo "GCP_VM_SSHKEY=${{ secrets.GCP_VM_SSHKEY_HYUNWOO }}" >> $GITHUB_ENV
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME_HYUNWOO }}" >> $GITHUB_ENV
            echo "DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD_HYUNWOO }}" >> $GITHUB_ENV
            echo "APPLICATION_SECRET=${{ secrets.APPLICATION_SECRET_HYUNWOO }}" >> $GITHUB_ENV
            echo "REACT_ENV=${{ secrets.REACT_ENV_HYUNWOO }}" >> $GITHUB_ENV
          fi
          
      - name: checkout
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{github.ref}}

      - name: insall JDK 21
        uses: actions/setup-java@v5.2.0
        with: 
          java-version: '21'
          distribution: 'temurin'

      - name: Springboot Build
        run: |
          cd SsedamPet_back
          echo ${{env.APPLICATION_SECRET}} | base64 --decode > ./src/main/resources/application-secret-prod.yml
          chmod 777 ./mvnw
          ./mvnw clean package -Dtestskip

      - name: Debug docker username
        run: |
          echo "DOCKER_USERNAME=${{ env.DOCKER_USERNAME }}"

      - name: Springboot Docker image build
        run: |
          cd SsedamPet_back
          docker build -t ${{env.DOCKER_USERNAME}}/springboot-app:latest . 
             
      - name: Springboot Docker image push
        run: |
          echo "${{env.DOCKER_PASSWORD}}" | docker login -u ${{env.DOCKER_USERNAME}} --password-stdin
          docker push ${{env.DOCKER_USERNAME}}/springboot-app:latest

      - name: React Docker image build
        run: |
          cd SsedamPet_front
          echo "${{env.REACT_ENV}}" | base64 --decode > .env
          docker build -t ${{env.DOCKER_USERNAME}}/react-app:latest .

      - name: React Docker image push
        run: docker push ${{env.DOCKER_USERNAME}}/react-app:latest

      - name: GCP SSH REMOTE
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{env.GCP_VM_HOST}}
          usename: ${{env.GCP_VM_USERNAME}}
          key: ${{env.GCP_VM_SSHKEY}}
          script: |
            cd /home/${{env.GCP_VM_USERNAME}}
            sudo docker compose -f front-compose.yml pull
            sudo docker compose -f back-compose.yml pull
            sudo docker compose -f front-compose.yml down
            sudo docker compose -f front-compose.yml up -d
            sudo docker compose -f back-compose.yml down
            sudo docker compose -f back-compose.yml up -d
        
        
        
        

    
 
